<!DOCTYPE html>
<html lang="en" ng-app="mainApp">
  <head><% include partials/page/head.ejs %></head>
  <body class = <%= classname %>>
    <% include partials/page/header.ejs %>
    <div class="container">
      <h2>
        Babble server page
      </h2>
    </div>  <!-- end of container -->
    <% include partials/page/footer.ejs %>
    <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
